:root {
  --tosca: #009688;
  --tosca-light: #1ca89a;
}

/* button */

.btn-rounded {
  border-radius: 100vh;
}

.btn-tosca {
  background-color: var(--tosca);
  padding: 5px 30px;
  color: white;
}

.btn-tosca:hover {
  background-color: var(--tosca-light);
  color: white;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.text-tosca {
  color: var(--tosca);
}

.bg-tosca {
  background-color: var(--tosca);
}

/* hero section */

.hero {
  min-height: 100vh;
  margin: 0px;
  align-items: center;
  background-image: url("../assets/bg/hero.jpg");
  background-position: center;
  background-size: cover;
}

.hero.hero-sm {
  min-height: 40vh;
}

.hero .hero-title {
  font-weight: bold;
  margin-top: 20vh;
}

/* section */

.section-title {
  font-size: 2em;
  font-weight: bold;
}

.section-subtitle {
  font-size: 1.2em;
  font-weight: 500;
}

/* navbar */

.navbar {
  z-index: 99999999999;
  font-weight: bold;
  position: fixed;
  left: 0;
  right: 0;
  transition: ease .5s;
}

.navbar.navbar-tosca {
  background-color: var(--tosca);
  box-shadow: 3px 3px 5px #11111145;
}

.navbar .navbar-brand img {
  max-height: 50px;
}

.navbar .navbar-brand .navbar-brand-title {
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
  margin-left: 16px;
  color: white;
}

.nav-item {
  margin-left: 30px;
}

.navbar.navbar-tosca .btn-tosca {
  background-color: #fff;
  color: var(--tosca);
}

/* rental search */

.rental {
  max-width: 400px;
  padding: 30px;
  margin-top: -30vh;
  min-height: 60vh;
  border-radius: 20px;
}

/* card */
.card-boat {
  border-radius: 20px;
  overflow: hidden;
}

.card-boat .card-subtitle {
  font-weight: bold;
  opacity: 0.6;
  font-size: 0.8em;
}

.card-boat .card-text {
  font-size: 0.8em;
}

.card-boat .card-footer {
  background-color: #fff;
  padding-bottom: 20px;
}

.card-boat .card-amount {
  color: var(--tosca);
  font-weight: bold;
  font-size: 1.3em;
}

.card-boat .card-desc {
  font-weight: bold;
  font-size: 1.2em;
  opacity: 0.5;
}

/* blog */

.blog-side .widget-link {
  display: block;
  text-decoration: cap;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: inherit;
  font-weight: bold;
  font-size: 1.1em;
}

.card.card-blog {
  border-radius: 20px;
}

.card.card-blog .thumb-image {
  min-height: 150px;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
  width: 100%;
}

.card.card-blog .card-body .card-date {
  padding: 5px 0px;
  font-size: .8em;
  font-weight: bold;
}

.card.card-blog .card-body .card-text {
  font-size: .9em;
}

.card.card-blog .card-body .card-link {
  color: var(--tosca);
  display: block;
  padding: 20px 0px;
  font-weight: bold;
}

.card.card-blog .card-body .card-link:hover {
  text-decoration: underline;
}

/* footer */
.footer {
  background-color: #1d262d;
}

.footer .footer-menu-item {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 0px;
}

.footer .footer-menu-item:hover {
  text-decoration: underline;
}

/* galery */
.galery-item {
  overflow: hidden;
}

.galery-image {
  width: 120%;
  height: 200px;
  background-position: center;
  background-size: cover;
  transition: ease-in-out 5s;
}

.galery-image:hover {
  transform: scale(1.1);
}

/* searchbox */
.searchbox-container {
  border-radius: 20px;
  min-height: 40vh;
  margin-top: -20vh;
  background-color: var(--tosca);
}

/* thanks */
.thanks {
  font-size: 3em;
}

@media (max-width: 768px) {
  .thanks {
    font-size: 1.2em;
  }
}

/* pagination */
.pagination {
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  color: var(--tosca);
}

.pagination * {
  border: none;
  color: var(--tosca);
}

.pagination .page-item.active .page-link {
  background-color: var(--tosca);
}