:root {
  --tosca: #009688;
  --tosca-light: #1ca89a;
}

/* button */

.btn-rounded {
  border-radius: 100vh;
}

.btn-tosca {
  background-color: var(--tosca);
  padding: 5px 30px;
  color: white;
}

.btn-tosca:hover {
  background-color: var(--tosca-light);
  color: white;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.text-tosca {
  color: var(--tosca);
}


.bg-tosca {
  background-color: var(--tosca);
}

.hero {
  min-height: 100vh;
  margin: 0px;
  align-items: center;
  background-image: url('../assets/bg/hero.jpg');
  background-position: center;
  background-size: cover;
}

.hero .hero-title {
  font-weight: bold;
  margin-top: 20vh;
}

.section-title {
  font-size: 2em;
  font-weight: bold;
}

.section-subtitle {
  font-size: 1.2em;
  font-weight: 500;
}

.navbar {
  z-index: 99999999999;
  max-height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
}

.navbar .navbar-brand img {
  max-height: 50px;
}

.navbar .navbar-brand .navbar-brand-title {
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
  margin-left: 16px;
  color: white;
}

.nav-item {
  margin-left: 30px;
}

/* rental search */

.rental {
  max-width: 400px;
  padding: 30px;
  margin-top: -30vh;
  min-height: 60vh;
  border-radius: 20px;
}

/* card */
.card-boat {
  border-radius: 20px;
  overflow: hidden;
}

.card-boat .card-subtitle {
  font-weight: bold;
  opacity: .6;
  font-size: .8em;
}

.card-boat .card-text {
  font-size: .8em;
}

.card-boat .card-footer {
  background-color: #fff;
}

.card-boat .card-amount {
  color: var(--tosca);
  font-weight: bold;
  font-size: 1.3em;
}

.card-boat .card-desc {
  font-weight: bold;
  font-size: 1.2em;
  opacity: .5;
}

/* footer */
.footer {
  background-color: #1D262D;
}

.footer .footer-menu-item {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 8px 0px;
}

.footer .footer-menu-item:hover {
  text-decoration: underline;
}